*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial;
    margin: 0;
    /* padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px; */
    background-color: rgb(248, 248, 248);
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* header styles */
header{
    height: 55px;
    background: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.left-section,
.middle-section,
.right-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    margin-left: 24px;
    margin-right: 24px;
    height: 24px;
}
.youtube-logo {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-right: 35px;
    margin-left: 70px;
    max-width: 500px;
}
.search-bar, .search-button {
    position: relative;
    display: flex;
    border: 1px solid rgb(192, 192, 192);
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder {
    font-size: 16px;
}
.tooltip {
    position: absolute;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    /* pointer-events: none;
    white-space: nowrap; */
    padding: 5px;
    color: white;
    background: gray;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.apps-button:hover .tooltip,
.notification-button:hover .tooltip,
.profile-button:hover .tooltip
{
    opacity: 1;
}
.search-button {
    justify-content: center;
    width: 66px;
    height: 36px;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    margin-left: -1px;
}
.search-icon,
.voice-search-icon {
    align-self: center;
    height: 24px;
}
.voice-search-button {
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(245, 245, 245);
    border: none;
}
.right-section {
    max-width: 500px;
}
.right-section button {
    width: 24px;
    height: 24px;
    margin-right: 25px;
    background: transparent;
    border: none;
}
.right-section img {
    color: #af0c0c;
}
.notification-button {
    position: relative;
}
.notification-button .notification-count {
    position: absolute;
    top: 0;
    right: -5px;
    background: #af0c0c;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.profile-button{
    width: 38px !important;
    height: 38px !important;
}
.profile-button .profile-icon {
    width: 100%;
    height: 100%;
}
.bars-video {
    display: grid;
    grid-template-columns:72px 1fr;
    position: relative;
    top: 55px;
}
/* sidebar styles */
.sidebar {
    width:72px;
    background: white;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    top: 55px;
    z-index: 200;
}
.sidebar .sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }
.sidebar .sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar .sidebar-link > div {
    font-size: 10px;
}

/* main section */
.video-section{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
}
.items {
    position: relative;
    margin-bottom: 40px;
}
.thumbnails {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}
.thumbnails img {
    width: 100%;
    position: relative;
}
.video-time {
    position: absolute;
    right:5px;
    bottom: 8px;
    background: black;
    color: white;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
}
.picture-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 10px;
}
.channel-picture {
    width: 36px;
}
.channel-picture img {
    width: 100%;
    border-radius: 50px;
}
.video-title {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}
.video-author{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.thumbnails:hover{
    cursor: pointer;
}
.thumbnails::after{
    content: "";
    position: absolute;
    z-index: 1;
    background: rgba(250, 250, 250, 0.3);
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
}
.thumbnails:hover::after {
    width: 100%;
    height: 100%;
}
.play {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    /* left: 40%;
    top: 28%; */
    border-style: solid;
    border-width:30px 0px 30px 30px;
    border-color: transparent transparent transparent #fff;
}
.thumbnails:hover .play{
    visibility: visible;
}